@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-lower">Who is Joel Hilton?</span>
                    </h2>
                    <p>
                        Joel Hilton is very into film. So into film, in
                        fact, that he minored in Film Studies at BYU, contracts as a movie reviewer for
                        ClearPlay, and does a weekly podcast about films & pop culture called <a href="https://baconsale.com/">Baconsale</a>
                    </p>
                    <br />
                    <a href="https://baconsale.com/">
                        <img height="400" src="~/lib/bootstrap/assets/img/BaconsaleKate.jpg" alt="Description of the image">
                    </a>
                    <br />
                    <br />
                    <br />
                    <p>Joel also regularly perfroms comedy at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>!</p>
                </div>
            </div>
        </div>
    </div>
</section>

