@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>The Joel Hilton Film Collection</title>
</head>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/lib/bootstrap/assets/img/JoelHiltonHeadshot.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">The greatest movie collection</span>
                    <span class="section-heading-lower">of all time</span>
                </h2>
                <p class="mb-3">
                    Joel Hilton's movie collection is a cinematic treasure trove, brimming with an eclectic array of masterpieces spanning genres and eras, promising an awe-inspiring journey through the realms of storytelling and visual brilliance.
                </p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" asp-area="" asp-controller="Home" asp-action="About">More About Joel</a></div>
            </div>
        </div>
    </div>
</section>
